{% extends 'index.html' %}
{% load static %}
{% block title %} Editar el prestamo de {{object.name}}{% endblock %}
{% block content %}
{% block name %} Editar el prestamo de {{object.name}}{% endblock %}
<div class="container">
    <form action="" method="post">{% csrf_token %}
        <fieldset>
            <div class="form-group row">
                {{form.as_table}}
            </div>
            <button type="submit" class="btn btn-primary">Aceptar</button>
        </fieldset>
    </form>
</div>

{% endblock %}